{% extends 'base.html.twig' %}

{% block body %}
  <div {{ react_component('Hello', { 'fullName': controller_name }) }}>
    Loading... <i class="fas fa-cog fa-spin fa-3x"></i>
  </div>

  {# Component living in a subdirectory: "assets/react/controllers/Admin/OtherComponent" #}
  <div {{ react_component('Admin/OtherComponent') }}></div>
{% endblock %}