{% extends 'base.html.twig' %}

{% block body %}
  <div {{ react_component('StartNarration', {
    sequence: [
      "house.narration.1"|trans,
      "house.narration.2"|trans,
      "house.narration.3"|trans,
    ]
  }) }}></div>
  <div {{ react_component('House/House', { 'navigation': navigation }) }}></div>
{% endblock %}