@import 'primeicons/primeicons.css';
@import 'primereact/resources/themes/lara-light-cyan/theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: lightgray;
}

/* Rooms background */
.bg-garage {
    background-image: url('/assets/img/rooms/spectrum-gradient.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
