<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Nuit de l'Info 2023{% endblock %}</title>
        <link rel="icon" href="/img/homepage/earth.svg">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script defer data-domain="nuit-info.tchallon.fr" src="https://plausible.tchallon.fr/js/script.js"></script>
    </head>
    <body>
        {% if room is defined %}
            <div {{ react_component('Instruction', {instructions: room ~ '.instructions'}) }}></div>
        {% endif %}
        <div {{ react_component('ChooseLang') }}></div>
        {% block body %}{% endblock %}
    </body>
</html>